*.zip
sentiment-dataset
/models
*.pyc
*.jpg
log.txt
.env
.idea
features/
results/
.venv/
emissions
rcpd*.csv
rcpd/images
persistent_pipeline_step.txt
visualizations/
visualizations_all/
results_all/
features_all/
emissions_logs/